.header {
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: hsl(233, 26%, 24%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  h3 {
    cursor: pointer;
  }
  &__right {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
