.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  h3 {
    cursor: pointer;
  }
  &__right {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
