.singleCard {
  padding: 0.5rem;
  p {
    margin: 0;
  }

  mat-card-title {
    color: hsl(233, 26%, 24%);
    text-transform: capitalize;
  }
  mat-card-content {
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .action {
    button {
      flex: 1;
    }
    margin-top: 0.5rem;
    gap: 1rem;
    padding: 0 16px 20px;
  }
}
