<mat-card class="singleCard">
  <mat-card-header>
    <mat-card-title color="green">{{ task.text }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="singleCard__date">
    <fa-icon [icon]="faCalender" [ngStyle]="{ color: '#31d35c' }"></fa-icon>
    <p>{{ task.day | date }}</p>
  </mat-card-content>

  <mat-card-actions class="action">
    <button
      type="button"
      mat-raised-button
      color="warn"
      (click)="openDeleteDialog(task)"
    >
      DELETE
    </button>
    <button
      (click)="openEditDialog(task)"
      type="submit"
      mat-stroked-button
      color="primary"
    >
      UPDATE
    </button>
  </mat-card-actions>
</mat-card>
