.item {
  background-color: #1d2327;
  border-radius: 0.3155rem;
  overflow: hidden;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
  padding: 0.5rem;
  margin-bottom: 1rem;

  p {
    margin: 0;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  //   box-shadow: 5px 10px #888888;
}
