<div class="hero">
  <h1>Add your events</h1>
  <h2>You must login to add task!</h2>
  <button
    (click)="redirectToLogin()"
    aria-label="Click here to go to login page"
    mat-raised-button
  >
    Get Started
  </button>
</div>
<div class="introGrid container">
  <div class="introGrid__item">
    <h2>Quick</h2>
    <p>
      We provide you Instant notes for efficient learning – your study partner
      for quick academic success!
    </p>
  </div>
  <div class="introGrid__item">
    <h2>Simple</h2>
    <p>
      We take pride in offering an intuitive and user-friendly platform that
      caters to learners of all levels. Navigating through our site is a breeze.
    </p>
  </div>
  <div class="introGrid__item">
    <h2>Easy</h2>
    <p>
      We've designed our platform to make finding the perfect notes a breeze.
      Rapidly access notes - your key to instant learning!
    </p>
  </div>
</div>
