<div
  class="loader"
  aria-label="Fetching all tasks"
  *ngIf="spinner; else showThis"
>
  <mat-spinner diameter="50"></mat-spinner>
</div>

<ng-template #showThis>
  <div class="heroProfile">
    <h2>Your profile</h2>
    <button
      aria-label="Enter to add a new note"
      class="smallButton"
      mat-mini-fab
      (click)="openAddEditDialog()"
      color="primary"
    >
      <mat-icon>note_add</mat-icon>
    </button>
  </div>

  <div class="itemsGrid container">
    <app-task-item
      *ngFor="let task of tasks"
      [task]="task"
      (onDeleteTask)="deleteTask(task)"
    ></app-task-item>
  </div>
</ng-template>
