<div class="contentGrid">
  <div class="contentGrid__toolbar">
    <mat-toolbar class="mat-elevation-z6" color="primary">
      <button mat-button routerLink="/">Tasker</button>
      <span class="example-spacer"></span>
      <div class="toolbarButtons">
        <button
          aria-label="Enter to add a new  Note"
          class="smallButton"
          mat-icon-button
          class=""
          (click)="openAddEditDialog()"
        >
          <mat-icon>note_add</mat-icon>
        </button>
        <button
          aria-label="Enter to login to your account"
          class="smallButton"
          mat-raised-button
          color="primary"
          routerLink="/login"
        >
          LOGIN
        </button>
      </div>
    </mat-toolbar>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
    <!-- routerOutlet ko home ma chai app-task or taskComponent cha so it is shown automatically -->
  </div>
</div>
