<div class="contentGrid">
  <div class="contentGrid__toolbar">
    <mat-toolbar class="mat-elevation-z6" color="primary">
      <button aria-label="click here to go home" mat-button routerLink="/">
        Home
      </button>
      <button
        *ngIf="currentUser"
        aria-label="click here to go to your profile"
        mat-button
        routerLink="/profile"
      >
        {{ currentUser.name }}
      </button>

      <span class="example-spacer"></span>

      <div class="toolbarButtons">
        <button
          aria-label="Enter to add a new  Note"
          class="smallButton"
          mat-icon-button
          [disabled]="!currentUser"
          (click)="openAddEditDialog()"
        >
          <mat-icon>note_add</mat-icon>
        </button>

        <button
          *ngIf="currentUser; else showThis"
          aria-label="Enter to login to your account"
          class="smallButton"
          mat-raised-button
          color="primary"
          (click)="logout()"
        >
          LOGOUT
        </button>

        <ng-template #showThis>
          <button
            aria-label="Enter to login to your account"
            class="smallButton"
            mat-raised-button
            color="primary"
            routerLink="/login"
          >
            LOGIN
          </button>
        </ng-template>
      </div>
    </mat-toolbar>
  </div>

  <div>
    <router-outlet></router-outlet>
    <!-- routerOutlet ko home ma chai app-task or taskComponent cha so it is shown automatically -->
  </div>
</div>
