.toolbarButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.smallButton {
  padding: 1px 2px;
}
.example-spacer {
  flex: 1 1 auto;
}
.profileName {
  margin-left: 2rem;
  text-transform: capitalize;
}
p {
  margin: 0;
  color: hsl(136, 65%, 51%);
  font-size: 16px;
}
