<div class="heroLogin">
  <h2>Login page</h2>
</div>
<div class="loginSignUp">
  <mat-card>
    <form
      class="loginSignUp__form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="formContent" mat-dialog-content>
        <h2 class="header">Login</h2>

        <div class="column">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              aria-label="Enter your email here"
              type="text"
              matInput
            />
            <mat-error
              *ngIf="
                loginForm.controls['email'].invalid &&
                (loginForm.controls['email'].dirty ||
                  loginForm.controls['email'].touched)
              "
              >Email is not valid</mat-error
            >
          </mat-form-field>
        </div>

        <div class="column">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              aria-label="Enter your password here"
              [type]="showPassword ? 'text' : 'password'"
              matInput
            />
            <mat-icon matSuffix (click)="togglePassword()">{{
              showPassword ? "visibility" : "visibility_off"
            }}</mat-icon>

            <mat-error
              *ngIf="
                loginForm.controls['password'].invalid &&
                (loginForm.controls['password'].dirty ||
                  loginForm.controls['password'].touched)
              "
              >Password should be of 8 characters.</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="action" mat-dialog-actions>
        <button
          aria-label="Enter to save the note"
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </div>

      <!-- <div class="switch">
        <button
          mat-button
          href="https://www.google.com/"
          color="warn"
          target="_blank"
        >
          Dont have an account? signup
        </button>
      </div> -->
    </form>
  </mat-card>
</div>
