<form
  class="addTaskAndUpdateForm"
  [formGroup]="empForm"
  (ngSubmit)="onSubmit()"
>
  <div class="formContent" mat-dialog-content>
    <mat-card-title class="header">
      {{ data ? "Update Note" : "Add Note" }}</mat-card-title
    >
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          aria-label="Enter the title of the Note"
          type="text"
          formControlName="text"
          maxlength="17"
          matInput
        />
        <mat-error
          *ngIf="
            empForm.controls['text'].invalid &&
            (empForm.controls['text'].dirty || empForm.controls['text'].touched)
          "
          >Required field</mat-error
        >
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field appearance="outline">
        <input
          aria-label="Enter the date of the Note"
          matInput
          type="number"
          [matDatepicker]="picker"
          formControlName="day"
        />
        <mat-error
          *ngIf="
            empForm.controls['day'].invalid &&
            (empForm.controls['day'].dirty || empForm.controls['day'].touched)
          "
          >Required field</mat-error
        >
        <mat-label>Day and Time</mat-label>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      {{ empForm.controls["day"].errors | json }}
    </div>
  </div>
  <div class="action" mat-dialog-actions>
    <button
      aria-label="Enter to cancel"
      (click)="closeDialog()"
      type="button"
      mat-raised-button
      color="warn"
    >
      CANCEL
    </button>
    <button
      aria-label="Enter to save the note"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!empForm.valid"
    >
      {{ data ? "UPDATE" : "SAVE" }}
    </button>
  </div>
</form>
