<!-- ngSumbit handles the preventdefault automatically. -->
<!-- *ngIf="showAddNote" -->
<!-- <div mat-dialog-title>
  <h2>New Task</h2>
</div> -->
<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
  <div class="formContent" mat-dialog-content (ngSubmit)="onSubmit()">
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input type="text" formControlName="text" matInput />
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" formControlName="day" />
        <mat-label>Day and Time</mat-label>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="action" mat-dialog-actions>
    <button type="button" mat-raised-button color="warn">CANCEL</button>
    <button type="submit" mat-raised-button color="primary">SAVE</button>
  </div>
</form>
